# requirements.txt

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
statsforecast==2.0.2
prophet==1.1.7
mlflow[extras]==3.1.1
pyarrow==20.0.0
scikit-learn==1.7.0
kafka-python[crc32c]==2.2.15
numpy==2.2.6
